
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Padauk:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

*{
    font-family: 'Itim','Roboto','Padauk', 'sans-serif';
    padding: 0px;
    margin: 0px;
}

:root{
    --primary: #f5b5fc;
    --secondary: #96f7d2;
    --danger: #f0f696;
    --dark: #fcb1b1;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.pd-5{
    padding: 5px;
}

.pd-10{
    padding: 10px;
}

.br-10{
    border-radius: 10px;
}

.br-50{
    border-radius: 50px;
}


.s-btn{
    border: 2px solid black;
    padding: 10px;    
}

.btn{
    width: 100px;
    height: 50px;
    border: none;
    margin-left: 10px;
}

.btn:hover{
    background-color: rgb(167, 167, 167);
    transition-duration: 1s; 
}

.btn-primary{
    background-color: var(--primary);
}

.btn-secondary{
    background-color: var(--secondary);
}

.btn-danger{
    background-color: var(--danger);
}

.btn-dark{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: var(--dark);
}

.btn-outline-primary{
    border: 2px solid var(--primary);
}

.btn-outline-secondary{
    border: 2px solid var(--secondary);   
}

.btn-outline-danger{
    border: 2px solid var(--danger);   
}

.btn-outline-dark{
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    border: 2px solid var(--dark);    
}

.icon-btn{
    width: 50px;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.table th, .table tr,.table td {
    border: 2px solid black;
    padding: 10px;    
}

tbody tr:hover{
    background-color: rgb(203, 203, 203) !important;
    transition-duration: 1s;
}

.table-borderless th,.table-borderless tr, .table-borderless td{
    border: none;
}

.table-strip thead{
    background-color: aqua;   
}

.table-strip tbody tr:nth-child(even){
    background-color: rgb(252, 228, 255);
}

.html-list{
    list-style-type: square;
}

.list-group{
    list-style-type: none;
}

.list-group li{
    border: 1px solid black;
    padding: 10px;
}

.list-group li:hover{
    background-color: rgb(223, 223, 223) !important;
    transition-duration: 0.5s;
}

.list-group li:first-child{
    border-radius: 10px 10px 0px 0px;
}

.list-group li:last-child{
    border-radius: 0px 0px 10px 10px;
}

.list-group li:nth-child(2){
    background-color: var(--primary);
}

.list-group li:nth-child(3){
    text-decoration: line-through;
}

.nav-group{
    list-style-type: none;
}

.nav-group li{
    display: inline-block;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    margin-left: 3px;
    text-align: center;
}

.nav-group li:hover{
    background-color: rgb(215, 215, 215) !important;
    transition-duration: 0.5s;
}

@media screen and (max-width: 540px) {

    .nav-group li{
        display: block;
        margin-bottom: 5px;
    } 
}


















